<h1 class='has-text-centered m-3 is-size-3 has-text-weight-bold'>Edit Recipe</h1>

<%= render 'form', recipe: @recipe %>

<%= link_to 'Show', @recipe, class: "button is-link is-small mt-2"%>
<%= link_to 'Back', recipes_path, class: "button is-link is-small mt-2" %>
